/* base styles, feel free to edit */
* {
    font-family: "Nunito", sans-serif;
}

.hide {
    display: none;
}

.nav-item:hover {
    cursor: pointer;
}

/* Header Section */
header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 480px) {
    #website-name {
        display: none;
    }

    header .container {
        flex-direction: column;
        font-size: medium;
    }
}
#watch-user-button {
    width: 1000px;
    margin: 0 auto;
    margin-top: 55px;
    text-align: right;
}

#watch-user-button button {
    margin-top: 30px;
}
#website-name a{
    text-decoration: none;
    color: #fff;
}
/* Register CSS */
#page-register form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: calc(100vh - 200px);
}

#page-register .form-group {
    width: 300px;
}

#page-register label {
    display: block;
    margin-bottom: 5px;
}

#page-register input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#page-register #register-button {
    width: 100px;
}

/* Login CSS */
#page-login form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: calc(100vh - 200px);
}

#page-login .form-group {
    width: 300px;
}

#page-login label {
    display: block;
    margin-bottom: 5px;
}

#page-login input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#page-login #login-button {
    width: 100px;
}
